# System files
.DS_Store
Thumbs.db

# Environment variables
.env
.env*.local

# Dependencies
node_modules/
.venv/
__pycache__/

# Build outputs
.next/
dist/
build/
out/
*.pyc
.vscode/
.idea/
*.db
*.sqlite
*.sqlite3
